body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	padding-bottom: .5em;
	min-height: 100vh;
}

header {
	color: #0e0e0e;
	padding: 1em;
	position: absolute;
	top: 0;
}

header h1 {
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}

nav ul li {
	display: inline-block;

}

nav ul li a {
	display: inline-block;
	padding: 10px 25px;
	font-size: 14px;
	color: #333;
	border: 1px solid #333;
	border-radius: 2px;
}
nav ul li a:hover{
	background-color: rgb(149, 145, 153);
}

nav ul li.current a {
	background-color: #fff;
	color: #333;
}
main {
	max-width: 800px;
	margin: 3em auto;
	padding: 0 1em;
}

section {
	margin-bottom: 2em;
}

section h2 {
	font-size: 1.5em;
	margin-top: 0;
	text-align:center;
}

section p {
	font-size: 1.1em;
	line-height: 1.1;
	text-align: justify;
}

 */

 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

.container{
	width: 100%;
	display: flex;
	max-width: 1100px;
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	cursor: default;
	transition: all 400ms ease;
}

.card:hover{
	box-shadow: 5px 5px 50px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

.card img{
	width: 90%;
	height: 150px;
}

.card .contenido{
	padding: 10px;
	text-align: center;
}

.card .contenido p {
	line-height: 1.8;
	color: #6a6a6a;
}

.card .contenido h3{
	font-weight: 400;
	margin-bottom: 15px;
}

*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	transition: 0.5s;
}

body{
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
	height: 100vh;
	width: 100%;
	position: relative;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2rem 8%;
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo{
	height: 100px;
	margin-bottom: .5rem;
}

.social-icons-container, .footer-menu-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.social-icon{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: 1px solid #f2f2f2;
	background-image: url(../images/facebook.png);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
	margin: 1rem;
}

.social-icon:hover{
	background-color: #121212;
	filter: invert(1);
}

.social-icon:nth-of-type(2){
	background-image: url(../images/instagram.png);
}
.social-icon:nth-of-type(3){
	background-image: url(../images/Linkedin.jpg);
}
.social-icon:nth-of-type(4){
	background-image: url(../images/Logo_Twitter.png);
}

.footer-menu-container{
	list-style-type: none;
	color: #0e0e0e;
	font-size: 18px;
}

.menu-item{
	margin: 1rem 1.5rem;
	cursor: pointer;
	opacity: 0.6;
}

.menu-item:hover {
	opacity: 1;
}

.copyright{
	color: #0e0e0e;
	opacity: 0.6;
	text-align: center;
}
